<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %> <%- include('./partials/sidebar.ejs')
    %> <%- include("./partials/internalNav.ejs") %>

    <table class="radio content">
      <% if (jsonData.length > 0) { %>
      <tr>
        <% for (const key of jsonKeys) { %>
        <th><%= key %></th>
        <%} %>
      </tr>
      <% jsonData.forEach(myObject=> { %>
      <tr>
        <% for (const key of jsonKeys) { %>
        <td><%= myObject[key] %></td>
        <% } %>
      </tr>

      <% }) } else { %>
      <p>DB is empty...</p>
      <% } %>
    </table>
  </body>
</html>
